@page
@model _4TuneForum.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Topics</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-page="Create">Create New</a>
    }
</p>
<table class="table" style="width: 800px">
    <thead>
    <tr>
        <th >
            @Html.DisplayNameFor(model => model.Topics[0].Title)
        </th>
        <th >
            <label  class="control-label">Creation date</label>
        </th>
        <th >
            @Html.DisplayNameFor(model => model.Topics[0].Creator)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Topics)
    {
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.CreatorNavigation.UserName)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                @if (item.CreatorNavigation.UserName == User.Identity.Name)
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id"> | Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id">| Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>